h1 {
    font-family: Annie Use Your Telescope, Courier;
    color: darkred;
}

body {
        background-color: lightgrey;
        color: darkblue;
}

a {

    text-decoration: none;
    margin: 20px;
    font-size: 24px;
}

.productsIndex {
	color: green;
	font-size: 32px;
	margin-top: 5px;
	padding-left: 120px;
}
.navbar-text {
    margin-left: 50px;
}

.login {
    margin-right: 50%;
    margin-left: 2%;
}
.newProduct {
    margin-right: 40%;
    margin-left: 2%;
}
.showProduct {
    margin-left:30%;
    width: 60%;
}