h1 {
    font-family: Annie Use Your Telescope, Courier;
    color: darkred;
    font-family: Courier;
}

body {
        background-color: lightgrey;
        color: darkblue;
}

a {

    text-decoration: none;
    margin: 20px;
    font-size: 24px;
}

.productsIndex {
	color: green;
	font-size: 32px;
	margin-top: 5px;
	padding-left: 120px;
}
.navbar-text {
    margin-left: 50px;
}
