


a {

    text-decoration: none;
    margin: 20px;
    font-size: 24px;
}

.productsIndex {
	color: green;
	font-size: 32px;
	margin-top: 5px;
	padding-left: 120px;
}
.navbar-text {
    margin-left: 50px;
}

.login {
    margin-right: 50%;
    margin-left: 2%;
}
.newProduct {
    margin-right: 40%;
    margin-left: 2%;
}
.showProduct {
    margin-left:3%;
 
}
.footer {
    margin-top: 30%;
}
#logo {
    margin-left:250px;
}
#login {
    margin-right:-80px;
    margin-left:300px;

}
.card-body {
  background-color: #EEEEFF;
}
.muted {
    color: darkgreen;
  }
form{
        margin-left: 25px;
        margin-bottom: 40px;
        color: darkred;
    }
.card-title {
    text-decoration: none;
    color: darkred;
    font-family: sans-serif; 
}
.edit-button{
    border-radius: 12px;
    color: red;
    background-color: white;
    -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  margin-left: 200px;
}
.edit-button:hover {
  background-color: red;
  color: white;
}
}
.card-text {
    font-family: Courier New;
    color: darkblue;
}
.input {
margin-top: 5px;
    }
#logout2 {
    margin-left:40%;
}
.registration {
    width: 40%;
    margin-left: 2%;
    margin-top: 2%;
}


