<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to (PAGE-NAME)</h1>
    <nav>
    <a href="/users/new">Register</a>
    <a href="/auth/login">Login</a>
    </nav>
    <br>
    <p>
    HERE WILL BE SOME REAL OR FAKE CONTENT TO DISPLAY FOR NON-USERS
    <p>
    <img src='https://images-na.ssl-images-amazon.com/images/I/81nsr0LPsYL._SX425_.jpg'>
    <h4> IMAGE INFO</h4>
</body>
</html>