<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" type="text/css" href="/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<body>
<nav>
<a href='/products/new'> Make New product</a>
<a href='/products'> Browse Products</a>
<a href='/auth/logout'> Logout</a>
<a href='/users'> ALL USERS</a>
<a href='/users/new'> Make new user</a>


  </nav>
    <h1>User Index Page</h1>
<ul>
   <% for(let i =0; i< users.length;i++){ %>
        <li>
            <a href="/users/<%=users[i]._id%>"><%=users[i].username%></a>
        </li>
    <% } %>
<ul>


</body>
</html>
