<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1> User Registration </h1>

    <form action="/users" method="POST">
    <h4> Personal Information <h4>
        Full Name: <input type="text" name="name"><br>
        Email:<input type="text" name="email"><br>
        Address: <input type="text" name="address"><br>
   
    <h4> Create Account<h4>
        Username: <input type="text" name="username"><br>
        Password:<input type="password" name="password"><br><br>
        Create Account: <input type="submit" >
    </form>
</body>
</html>