<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
</head>
<body>

<nav id="navBar"class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">SWAP SHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
   <span class="navbar-text">
        <a class="nav-link" href='/auth/login'>About</a>
    </span>
    <ul class="navbar-nav">
     
    </ul>
           <a class="navbar-brand" href="/"> <img id="logo"src="https://i.imgur.com/k36pIsu.png" width="150" height="90" id='logo'class="d-inline-block align-top" alt=""></a>

    <span id = "login"class="navbar-text">
        <a class="nav-link" href='/auth/login'>Login</a>
    </span>
    <span id = "register"class="navbar-text">
        <a class="nav-link" href='/users/new'>Register</a>
    </span>
  </div>
</nav>


  
<div class = 'registration'>
<h1> User Registration </h1>
<form action="/users" method="POST">
<h4> Personal Information </h4>
  <div class="form-group">
    <label for="formGroupExampleInput">Full Name</label>
    <input type='text' name='name' class="form-control" id="full name" placeholder="full name">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput2">Email Address</label>
    <input type='text' name='email' class="form-control" id="formGroupExampleInput2" placeholder="johnsmith@gmail.com">
  </div>
  
   <div class="form-group">
    <label for="formGroupExampleInput3">Address</label>
    <input type='text' name='address' class="form-control" id="formGroupExampleInput2" placeholder="home address">
  </div>

  <br>

<h4> Account Information </h4>

   <div class="form-group">
    <label for="formGroupExampleInput4">Username</label>
    <input type='text' name='username' class="form-control" id="formGroupExampleInput2" placeholder="username">
  </div>

   <div class="form-group">
    <label for="formGroupExampleInput5">Password</label>
    <input type='password' name='password' class="form-control" id="formGroupExampleInput2" placeholder="password">
  </div>
        <button type='submit'>Create Account</button>

        

</form>

</div>



     <%include ../partials/_footerBar.ejs %>

</body>
</html>