<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
     <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

</head>
<style>
  body {
    font-family: 'Annie Use Your Telescope';
  }
  a { 
    font-family: 'Annie Use Your Telescope'; font-size: 30px;
    text-decoration: none;
  }
</style>
<body>
<%include ../partials/_navbar.ejs %>


    <h1>Available Items </h1>
        <ul class= "productsIndex">
        <% for(let i = 0; i < products.length; i++){ %>
         


<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="<%=products[i].image %>" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="/products/<%=products[i]._id%>"><%=products[i].title %></a></h5>
        <p class="card-text"><%=products[i].description%></p>
      </div>
    </div>
  </div>
</div>


        <% } %>
        </ul>
      

 <%include ../partials/_footerBar.ejs %>
</body>

</html> 