<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <a href='/users/new'> Make new user</a>
<a href='/products/new'> Make new product</a>
<a href='/products'> Browse Products for Sale</a>
    <h1>Products Index Page</h1>
        <ul>
        <% for(let i = 0; i < products.length; i++){ %>
            <li>
                <a href="/products/<%=products[i]._id%>"><%=products[i].title; %></a><br>
                <a href="/products/<%=products[i]._id%>/edit"><button>Edit</button></a>
                <form action="/products/<%=products[i]._id%>?_method=DELETE" method="POST">
                    <button>Remove</button>
                </form>
            </li>
        <% } %>
        </ul>
        <form action="/products/new" method="GET">
            <button>Add a New Product</button>
        </form>
</body>
</html> 