<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <h1>Products Index Page</h1>
        <ul>
        <% for(let i = 0; i < products.length; i++){ %>
            <li>
                <a href="/products/<%=products[i]._id%>"><%=products[i].title; %></a><br>
                <a href="/products/<%=products[i]._id%>/edit"><button>Edit</button></a>
                <form action="/products/<%=products[i]._id%>?_method=DELETE" method="POST">
                    <button>Remove</button>
                </form>
            </li>
        <% } %>
        </ul>
        <form action="products/new" method="get">
            <button>Add a New Product</button>
        </form>
</body>
</html> 