<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
     <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

</head>
<style>
  body {
    font-family: 'Annie Use Your Telescope';
  }
  a { 
    font-family: 'Annie Use Your Telescope'; font-size: 30px;
    text-decoration: none;
  }
</style>
<body>
<%include ../partials/_navbar.ejs %>


    <h1>Products Index Page</h1>
        <ul class= "productsIndex">
        <% for(let i = 0; i < products.length; i++){ %>
            <li>
                <a href="/products/<%=products[i]._id%>"><%=products[i].title; %></a>$<%=products[i].price%><br>
            </li>
        <% } %>
        </ul>
        <form action="/products/new" method="GET">
            <button>Add a New Product</button>
        </form>
</body>
</html> 