<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
  <header></br>
    <h1>Add a New Product Here</h1>
    <form action="/products" method="POST">
        <p>Title: <input type='text' name='title'></p>
        <p>Price: <input type='number' name='title'></p>
        <p>Description: <input type='text' name='description'></p>
        <p>Image URL: <input type='text' name='url'></p>
        <button type='submit'>Submit</button>
    </form>
</body>
</html> 