<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

  
  

</head>
<body>
<%include ../partials/_navbar.ejs %>
  <header></br>

  <div class='newProduct' >
  <h1>Listing Information</h1>
<form action="/products" method="POST">
    
  <div class="form-group">
    <label for="formGroupExampleInput2">Product Name:</label>
    <input type='text'type='hidden'  name='title' class="form-control" id="formGroupExampleInput2" placeholder="Give a Title for your listing">
  </div>
  

   <div class="form-group">
    <label for="formGroupExampleInput4">Brief Description:</label>
    <input type='text' name='description' class="form-control" id="formGroupExampleInput2" placeholder="Describe your listing here">
  </div>

   <div class="form-group">
    <label for="formGroupExampleInput3">Interested in Trading?</label>
    <input type='string' name='price' class="form-control" id="formGroupExampleInput2" placeholder="What would you take in trade?">
  </div>

   <div class="form-group">
    <label for="formGroupExampleInput5">Photos of your product:</label>
    <input type='text' name='image' class="form-control" id="formGroupExampleInput2" placeholder="add image URL of your product">
  </div>
  
  </div>


        <button type="submit" class="btn btn-outline-primary">Post</button>

        <div class="form-group">
    <label for="formGroupExampleInput"></label>
    <input type='hidden' type='text' name='owner' value='<%=user._id%>' class="form-control" id="formGroupExampleInput" >
  </div>

    <div class="form-group">
    <label for="formGroupExampleInput"></label>
    <input type='hidden' type='boolean' name='sold' value='false' class="form-control" id="formGroupExampleInput" >
    </div>

  <div class="form-group">
    <label for="formGroupExampleInput"></label>
    <input type='hidden' type='number' name='authNum' value='<%=Math.floor(Math.random() * 10001);  %>' class="form-control" id="formGroupExampleInput" >
    </div>


</form>

</div>
    
<br>


  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input  name='image' type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
   <%include ../partials/_footerBar.ejs %>

</body>
</html> 