<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
    <a href='/users/new'> Make new user</a>
<a href='/products/new'> Make new product</a>
<a href='/products'> Browse Products for Sale</a>
  <header></br>
    <h1>Add a New Product Here</h1>
    <form action="/products" method="POST">
        <p>Title: <input type='text' name='title'></p>
        <p>Price: <input type='number' name='price'></p>
        <p>Description: <input type='text' name='description'></p>
        <p>Image URL: <input type='text' name='image'></p>
        <button type='submit'>Submit</button>
    </form>
</body>
</html> 